/* 메뉴 관련 스타일 */
.menuContent {
  flex: 1;
  padding: 1rem;
  margin-top: 60px;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuButton {
  padding: 0.8vh 1rem;
  width: auto;
  min-width: 0;
  max-width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  transition: all 0.2s ease;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  color: var(--text-color);
}

.menuButton span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  font-size: 16px;
}
