.confirmToast {
  position: fixed !important;
  left: var(--toast-left) !important;
  top: var(--toast-top) !important;
  background: transparent !important;
  box-shadow: none !important;
  z-index: 9999 !important;
  border: none !important;
  padding: 0 !important;
  overflow: visible !important;
  margin: 0 !important;
  transform: none !important;
  width: auto !important;
}

.confirmToast .Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
}

.confirmToast .Toastify__progress-bar {
  display: none !important;
}
